<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome <%= user.name%></h1>
    <h2>Phone Number: <%= user.phoneNumber%></h2>
    <h2>Balance: <%= user.availableAmount %></h2>
    <a href="/transfer">Send Money</a>
    <a href="/trans">View Transactions</a>
    <a href="/logout">Logout</a>
</body>
</html>