<body>
    <form action="/transfer" method="POST">
        <label for="phoneNum">Receiver's Phone Number: </label>
        <input type="text" id="phoneNum" name="recieverp" required>
        
        <label for="initialAmount">Enter Amount:</label>
        <input type="number" id="initialAmount" name="amount" required min="10">

        <button type="submit">Submit</button>
    </form>
</body>