<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Example</title>
</head>
<body>
    <h1>Your Transactions</h1>
    <table>
        <thead>
        <tr>
            <th>Sender</th>
            <th>Reciever</th>
            <th>Amount</th>
            <th>Data/Time</th>
        </tr>
        </thead>
        <tbody>
        <% for (let i=0;i<data.length;i++) { %>
            <tr>
                <td><%= data[i].sender%></td>
                <td><%= data[i].reciever%></td>
                <td><%= data[i].amount%></td>
                <td><%= data[i].date%></td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <h4><a href="/home">Home</a></h4>
</body>
</html>